aiohttp
aiofiles
beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.16
requests
tgcrypto
yt-dlp
olefile
filetype
tldextract
motor
dnspython
lk21
TgCrypto
git+https://github.com/Itz-fork/pyro-mega.py.git
hurry.filesize
filetype
ffmpeg
moviepy
wget
