aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
yt-dlp
olefile
filetype
tldextract
motor
https://github.com/Tinche/aiofiles/archive/master.zip
dnspython
aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
yt-dlp
olefile
lk21
filetype
tldextract
TgCrypto
git+https://github.com/Itz-fork/pyro-mega.py.git
hurry.filesize
filetype
ffmpeg
moviepy
wget
